/* div{
    border: 1px solid black;
} */

div.StyleSheet {
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
    font-family: arial, sans-serif;
    color: #222222;
    padding: 1%;
}

.marginStyle{
    margin-left: 15px;
}


#AdvSearch {
    /* border: 1px solid black; */
    color: #d93025;

    font-size: 20px;

}


.FindPage{
    color: #333333;
    font-size: 16px;
    font-style: inherit;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.textBox{
    position: relative;
    width: 300px;
    display: inline-block;
}


.boxStyle{
    padding: 1px ;
    height: 25px;
    width: 100%;
    font-size: 13px;
    border-top: 1px solid #c0c0c0;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    cursor: text;
    outline: none;
}

.box{
    font-size: 13px;
    font-style: inherit;
    padding-top: 1%;
    padding-bottom: 1%;

    /* margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%; */
}
#advancedSubmit{
    padding: 1px 8px;
    color: #fff;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    float: right;
    outline: 0;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    border-radius: 2px;
    font-size: 13px;
    font-family: Arial;
}