#GimageLogo{
    /* border: 1px solid black; */
    margin-top: 5%;

    /* position: fixed;
    margin: auto;
    border: 3px solid #73AD21;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 125px;
    border-radius: 3px;
    align-items: center; */


    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    align-self: end;
    margin-left: 400px;
    margin-top: 125px; */
    /* position: absolute;
    margin: auto;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 600px; */
}