#top_page {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    padding: 20px;

    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    float: right;
    margin-right: 20px;
    padding: 20px;
    width: 350px; */
}
#top_page div a {
    /* display: flex; */
    font-family: arial, sans serif;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-right: 25px;
    /* float: right; */
}