.formStyle{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 125px;
    border-radius: 3px;
}

/* form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
} */
#search_bar{
    width: 593px;
    height: 35px;
    border: 1px solid #8d8f94;
    border-radius: 30px;
    user-select: none;
    padding-left: 10px;
    outline: none;
}
/* #submit_bar{
    font-family: Google Sans;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    width: 600px;
    border-radius: 4px;
    margin-top: 10px;
} */

.submitBar{
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 30px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    appearance: push-button;
    box-sizing: border-box;

    -webkit-rtl-ordering: logical;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    
}

/* #searchBarContainer{
    position: absolute;
    width: 100%;
    text-align: left;
    margin-top: -1px;
    z-index: 3;
    cursor: default;
    -webkit-user-select: none;
}
} */